# Problem Statement


The datasets contains the box office collection and social media promotion information about the movies released in 2013 â€“ 2015 period. 
Following is the information about the columns (names can vary):
- Movie Id
- Release date of movie
- Name of the movie
- Release time of movie like Long Weekend (3), Festive Season (1), Holiday Season (2), and Normal (4)
- Genre of movie like Romance, Thriller, Action, comedy etc.
- Budget of movie in crores
- Box office collection of movie in crore
- YouTube views of movies trailers
- YouTube likes for the movie trailers
- YouTube dislikes for the movie trailers
- YouTube LikesDislikes

In [8]:
import pandas as pd
df1 = pd.read_csv("movies-1.csv")
df2 = pd.read_csv("movies-2.csv")

In [9]:
df1.head()

,No,RelDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,YoutubeLikeDislikes
0,1,Apr-18-2014,2 States,3,RomanceGenre,36Cr,104,8576361,26622.0,2527.0,29149
1,2,Jan-4-2013,Table No. 21,4,Thriller,Cr10,12,1087320,1129.0,137.0,1266
2,3,Jul-18-2014,Amit Sahni Ki List,4,ComedyGenre,10Cr,4,572336,586.0,54.0,640
3,4,Jan-4-2013,Rajdhani Express,4,DramaGenre,7Cr,383,42626,86.0,19.0,105
4,5,Jul-4-2014,Bobby Jasoos,44,ComedyGenre,18Cr,10.8,3113427,4512.0,1224.0,5736

In [10]:
df2.head()

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes
0,51,4-Jul-14,Lekar Hum Deewana Dil,N,Romance,16,2.50,3998331,2307,497
1,52,22-Mar-13,Aatma,N,Thriller,8,8.78,841891,997,306
2,53,4-Apr-14,Main Tera Hero,LW,Comedy,40,55.00,4903941,12657,2139
3,54,22-Mar-13,Sona Spa,N,Thriller,10,0.24,79430,61,112
4,55,29-Mar-13,Himmatwala,N,Action,50,100.00,2501277,1,1

**As the name of columns for both the datasets are different we need to make it similiar**

In [13]:
df1.rename(columns={'No': 'Movie_ID',
                    'RelDate': 'Release_Date',
                    'MovieName': 'Movie_Name',
                    'ReleaseTime': 'Release_Time',
                    'Budget': 'BudgetCr',
                    'BoxOfficeCollection': 'BoxOfficeCollectionCr',
                    'YoutubeViews': 'Youtube_Views',
                    'YoutubeLikes': 'Youtube_Likes',
                    'YoutubeDislikes': 'Youtube_Dislikes'},inplace=True)

In [14]:
df1.head()

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
0,1,Apr-18-2014,2 States,3,RomanceGenre,36Cr,104,8576361,26622.0,2527.0,29149
1,2,Jan-4-2013,Table No. 21,4,Thriller,Cr10,12,1087320,1129.0,137.0,1266
2,3,Jul-18-2014,Amit Sahni Ki List,4,ComedyGenre,10Cr,4,572336,586.0,54.0,640
3,4,Jan-4-2013,Rajdhani Express,4,DramaGenre,7Cr,383,42626,86.0,19.0,105
4,5,Jul-4-2014,Bobby Jasoos,44,ComedyGenre,18Cr,10.8,3113427,4512.0,1224.0,5736

2. df2 has a missing column: YoutubeLikeDislikes
   
    * Create this missing columns otherwise the 2 datasets would be of different size and they would not merge

In [16]:
df2['YoutubeLikeDislikes'] = df2['Youtube_Likes'] + df2['Youtube_Dislikes']
df2.head()

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
0,51,4-Jul-14,Lekar Hum Deewana Dil,N,Romance,16,2.50,3998331,2307,497,2804
1,52,22-Mar-13,Aatma,N,Thriller,8,8.78,841891,997,306,1303
2,53,4-Apr-14,Main Tera Hero,LW,Comedy,40,55.00,4903941,12657,2139,14796
3,54,22-Mar-13,Sona Spa,N,Thriller,10,0.24,79430,61,112,173
4,55,29-Mar-13,Himmatwala,N,Action,50,100.00,2501277,1,1,2

Checking for unique data values
- Lets try to bring all the data values of the different columns into the same format. 

- A lot of preprocessing needs to be done in order to bring this commanality into the data values.

In [18]:
#For df1

cols = ['Release_Date','Release_Time','Genre','BudgetCr', 'BoxOfficeCollectionCr']

for col in cols:
    print(col, df1[col].unique())
    print("------------------------------")

Release_Date ['Apr-18-2014' 'Jan-4-2013' 'Jul-18-2014' 'Jul-4-2014' 'May-30-2014'
 'Sqp-19-2014' 'Jan-11-2013' 'Jan-10-2014' 'Mar-28-2014' 'Jan-18-2013'
 'Jum-27-2014' 'Aug-8-2014' 'Jan-25-2013' 'juu-6-2014' 'Sep-12-2014'
 'Jun-13-2014' 'Feb-1-2013' 'Mar-7-2014' 'Feb-14-2014' 'Oct-2-2014'
 'Nov-21-2014' 'Feb-8-2013' 'Oct-24-2014' 'May-9-2014' 'Feb-7-2014'
 'Feb-15-2013' 'May-23-2014' 'Feb-22-2013' 'Feb-21-204' 'Jun-6-2014'
 'Jul-11-2014' 'Mar-1-2013' 'Jun-20-2014' 'Mar-8-2013' 'Jan-24-2014'
 'Sep-19-2014' 'Jul-25-2014' 'Mar-15-2013' 'Nov-14-2014' 'May-09-2014'
 'May-2-2014' 'Jul-7-2014']
------------------------------
Release_Time [ 3  4 44  2  1]
------------------------------
Genre ['RomanceGenre' 'Thriller ' 'ComedyGenre' ' DramaGenre' 'ActionGenre'
 'Action ' 'Thriller' ' Drama ']
------------------------------
BudgetCr ['36Cr' 'Cr10' '10Cr' '7Cr' '18Cr' '30Cr' '33Cr' '31Cr' '2Cr' '28Cr' '5Cr'
 '35Cr' '4Cr' '60Cr' 'Cr60' '15Cr' '27Cr' '50Cr' '24Cr' '48Cr' '42Cr'
 '125Cr' '12Cr' '11Cr' '21Cr' '20Cr' 'Cr30' '75Cr' '120Cr' '100Cr' 'Cr5'
 '8Cr' '16Cr']
------------------------------
BoxOfficeCollectionCr ['104' '12' '4' '383' '10.8' '35' '24.6' '40' '27' 'Cr0.01' '6' '10.25'
 '105.5' '1.8' '163' 'Cr0.09' '162' '58.9' '12.6' '3.65' '14.3' '76.7'
 '69' '21.5' '103' '44' '27.16' '10' '1.5' '25' '65' '62.2' '27.25' '16'
 '129' '130' '32' '63.7' '22' '111' '39.4' '377' '5.82' '36' '11' '32.7'
 '2' 'Cr0.5' '2.5']
------------------------------

In [19]:
#For df2

cols = ['Release_Date','Release_Time','Genre','BudgetCr', 'BoxOfficeCollectionCr']

for col in cols:
    print(col, df2[col].unique())
    print("------------------------------")

Release_Date ['4-Jul-14' '22-Mar-13' '4-Apr-14' '29-Mar-13' '9-May-14' '22-Aug-14'
 '5-Apr-13' '5-Sep-14' '12-Apr-13' '19-Apr-13' '17-Jan-14' '26-Apr-13'
 '28-Mar-14' '31-Jan-14' '2-May-14' '3-May-13' '7-Mar-14' '21-Mar-14'
 '10-May-13' '29-Aug-14' '25-Apr-14' '28-Feb-14' '17-May-13' '3-Jan-14'
 '15-Aug-14' '7-Nov-14' '24-May-13' '28-Nov-14' '31-May-13' '10-Jan-14'
 '7-Jun-13' '14-Jun-13' '19-Dec-14' '21-Jun-13' '5-Dec-14' '2-Oct-14'
 '12-Sep-14' '28-Jun-13' '2-Oct-13' '5-Jul-13' '18-Jul-14' '16-May-14'
 '12-Jul-13' '19-Jul-13' '14-Mar-14' '21-Feb-14' '26-Jul-13' '7-Feb-14'
 '11-Apr-14' '9-Aug-13' '15-Aug-13' '23-Aug-13' '30-Aug-13' '1-Nov-13'
 '8-Nov-13' '15-Nov-13' '22-Nov-13' '29-Nov-13' '11-Oct-13' '16-Oct-13'
 '18-Oct-13' '25-Oct-13' '6-Sep-13' '13-Sep-13' '20-Sep-13' '9-Jan-15'
 '16-Jan-15' '23-Jan-15' '30-Jan-15' '6-Feb-15' '13-Feb-15' '20-Feb-15'
 '27-Feb-15' '13-Mar-15' '20-Mar-15' '23-May-14']
------------------------------
Release_Time ['N' 'LW' 'HS' 'FS']
------------------------------
Genre ['Romance' 'Thriller' 'Comedy' 'Action' ' Drama ']
------------------------------
BudgetCr [ 16   8  40  10  50   3  15  20   9   2  22  24   5  12  21  45  25   6
  18  35  90  70  19  26  85 140  30  27  31   4  29  75 100 115  14  11
  60  23  13  32 150]
------------------------------
BoxOfficeCollectionCr [2.500e+00 8.780e+00 5.500e+01 2.400e-01 1.000e+02 1.750e+00 3.600e+01
 4.200e+01 1.040e+02 2.150e+01 3.000e+00 2.100e+01 4.500e+01 7.000e-01
 1.100e+02 3.750e+00 1.100e+00 7.500e+01 6.100e+01 1.430e+01 5.000e+01
 2.820e+01 2.960e+01 1.000e+01 3.780e+01 2.300e+01 1.100e+01 2.000e+02
 3.250e+01 2.130e+00 1.380e+01 3.110e+02 4.000e+01 2.000e+00 6.750e+00
 3.620e+01 1.405e+01 7.350e+02 5.745e+01 3.400e+02 2.580e+00 2.000e+01
 3.800e+01 3.500e+01 2.800e+01 4.350e+00 2.900e+01 1.680e+01 1.640e+02
 4.000e+00 5.900e+00 3.000e+01 1.400e+01 2.400e+01 4.500e+00 5.000e+00
 3.550e+01 8.000e+00 5.300e+01 3.950e+02 8.000e+01 4.270e+01 6.000e+01
 3.000e+02 1.200e+01 1.265e+01 7.500e+00 1.500e+00 6.000e+00 1.820e+01
 2.980e+02 2.200e+01 3.400e+01 8.500e+01 5.600e+01 2.500e+01 1.250e+02
 3.025e+01 1.402e+01 5.800e+01 7.700e+01 3.210e+01 1.189e+01 1.200e+02]
------------------------------

In [20]:
# Correct Spelling mistakes for month names in df1-Release_Date

df1['Release_Date'] = df1['Release_Date'].str.replace(r'Sqp', 'Sep')
df1['Release_Date'] = df1['Release_Date'].str.replace(r'Jum', 'Jun')
df1['Release_Date'] = df1['Release_Date'].str.replace(r'juu', 'Jun')
df1['Release_Date'] = df1['Release_Date'].str.replace(r'Feb-21-204', 'Feb-21-2014')

In [21]:
# Standardize the 'Release_Time' for both datasets

df1['Release_Time'].replace({44: 4},inplace=True)
df2['Release_Time'].replace({"N": 4, "LW": 3, "HS":2, "FS":1},inplace=True)

In [22]:
# Standardize Genre Column

df1['Genre'] = df1['Genre'].str.replace(r'Genre', '')
df1['Genre'] = df1['Genre'].str.replace(r'Thriller ', 'Thriller')
df1['Genre'] = df1['Genre'].str.replace(r' Drama', 'Drama')
df1['Genre'] = df1['Genre'].str.replace(r'Drama ', 'Drama')
df1['Genre'] = df1['Genre'].str.replace(r'Action ', 'Action')

df2['Genre'] = df2['Genre'].str.replace(r'Drama ', 'Drama')

In [23]:
# Budget and box office collection are numeric columns, Hence the value cr should be removed before converting it to integer

df1['BudgetCr'] = df1['BudgetCr'].str.strip('Cr')

df1['BoxOfficeCollectionCr'] = df1['BoxOfficeCollectionCr'].str.strip('Cr')

In [24]:
#For df1

cols = ['Release_Date','Release_Time','Genre','BudgetCr', 'BoxOfficeCollectionCr']

for col in cols:
    print(col, df1[col].unique())
    print("------------------------------")

Release_Date ['Apr-18-2014' 'Jan-4-2013' 'Jul-18-2014' 'Jul-4-2014' 'May-30-2014'
 'Sep-19-2014' 'Jan-11-2013' 'Jan-10-2014' 'Mar-28-2014' 'Jan-18-2013'
 'Jun-27-2014' 'Aug-8-2014' 'Jan-25-2013' 'Jun-6-2014' 'Sep-12-2014'
 'Jun-13-2014' 'Feb-1-2013' 'Mar-7-2014' 'Feb-14-2014' 'Oct-2-2014'
 'Nov-21-2014' 'Feb-8-2013' 'Oct-24-2014' 'May-9-2014' 'Feb-7-2014'
 'Feb-15-2013' 'May-23-2014' 'Feb-22-2013' 'Feb-21-2014' 'Jul-11-2014'
 'Mar-1-2013' 'Jun-20-2014' 'Mar-8-2013' 'Jan-24-2014' 'Jul-25-2014'
 'Mar-15-2013' 'Nov-14-2014' 'May-09-2014' 'May-2-2014' 'Jul-7-2014']
------------------------------
Release_Time [3 4 2 1]
------------------------------
Genre ['Romance' 'Thriller' 'Comedy' 'Drama' 'Action']
------------------------------
BudgetCr ['36' '10' '7' '18' '30' '33' '31' '2' '28' '5' '35' '4' '60' '15' '27'
 '50' '24' '48' '42' '125' '12' '11' '21' '20' '75' '120' '100' '8' '16']
------------------------------
BoxOfficeCollectionCr ['104' '12' '4' '383' '10.8' '35' '24.6' '40' '27' '0.01' '6' '10.25'
 '105.5' '1.8' '163' '0.09' '162' '58.9' '12.6' '3.65' '14.3' '76.7' '69'
 '21.5' '103' '44' '27.16' '10' '1.5' '25' '65' '62.2' '27.25' '16' '129'
 '130' '32' '63.7' '22' '111' '39.4' '377' '5.82' '36' '11' '32.7' '2'
 '0.5' '2.5']
------------------------------

In [25]:
#For df2

cols = ['Release_Date','Release_Time','Genre','BudgetCr', 'BoxOfficeCollectionCr']

for col in cols:
    print(col, df2[col].unique())
    print("------------------------------")

Release_Date ['4-Jul-14' '22-Mar-13' '4-Apr-14' '29-Mar-13' '9-May-14' '22-Aug-14'
 '5-Apr-13' '5-Sep-14' '12-Apr-13' '19-Apr-13' '17-Jan-14' '26-Apr-13'
 '28-Mar-14' '31-Jan-14' '2-May-14' '3-May-13' '7-Mar-14' '21-Mar-14'
 '10-May-13' '29-Aug-14' '25-Apr-14' '28-Feb-14' '17-May-13' '3-Jan-14'
 '15-Aug-14' '7-Nov-14' '24-May-13' '28-Nov-14' '31-May-13' '10-Jan-14'
 '7-Jun-13' '14-Jun-13' '19-Dec-14' '21-Jun-13' '5-Dec-14' '2-Oct-14'
 '12-Sep-14' '28-Jun-13' '2-Oct-13' '5-Jul-13' '18-Jul-14' '16-May-14'
 '12-Jul-13' '19-Jul-13' '14-Mar-14' '21-Feb-14' '26-Jul-13' '7-Feb-14'
 '11-Apr-14' '9-Aug-13' '15-Aug-13' '23-Aug-13' '30-Aug-13' '1-Nov-13'
 '8-Nov-13' '15-Nov-13' '22-Nov-13' '29-Nov-13' '11-Oct-13' '16-Oct-13'
 '18-Oct-13' '25-Oct-13' '6-Sep-13' '13-Sep-13' '20-Sep-13' '9-Jan-15'
 '16-Jan-15' '23-Jan-15' '30-Jan-15' '6-Feb-15' '13-Feb-15' '20-Feb-15'
 '27-Feb-15' '13-Mar-15' '20-Mar-15' '23-May-14']
------------------------------
Release_Time [4 3 2 1]
------------------------------
Genre ['Romance' 'Thriller' 'Comedy' 'Action' ' Drama']
------------------------------
BudgetCr [ 16   8  40  10  50   3  15  20   9   2  22  24   5  12  21  45  25   6
  18  35  90  70  19  26  85 140  30  27  31   4  29  75 100 115  14  11
  60  23  13  32 150]
------------------------------
BoxOfficeCollectionCr [2.500e+00 8.780e+00 5.500e+01 2.400e-01 1.000e+02 1.750e+00 3.600e+01
 4.200e+01 1.040e+02 2.150e+01 3.000e+00 2.100e+01 4.500e+01 7.000e-01
 1.100e+02 3.750e+00 1.100e+00 7.500e+01 6.100e+01 1.430e+01 5.000e+01
 2.820e+01 2.960e+01 1.000e+01 3.780e+01 2.300e+01 1.100e+01 2.000e+02
 3.250e+01 2.130e+00 1.380e+01 3.110e+02 4.000e+01 2.000e+00 6.750e+00
 3.620e+01 1.405e+01 7.350e+02 5.745e+01 3.400e+02 2.580e+00 2.000e+01
 3.800e+01 3.500e+01 2.800e+01 4.350e+00 2.900e+01 1.680e+01 1.640e+02
 4.000e+00 5.900e+00 3.000e+01 1.400e+01 2.400e+01 4.500e+00 5.000e+00
 3.550e+01 8.000e+00 5.300e+01 3.950e+02 8.000e+01 4.270e+01 6.000e+01
 3.000e+02 1.200e+01 1.265e+01 7.500e+00 1.500e+00 6.000e+00 1.820e+01
 2.980e+02 2.200e+01 3.400e+01 8.500e+01 5.600e+01 2.500e+01 1.250e+02
 3.025e+01 1.402e+01 5.800e+01 7.700e+01 3.210e+01 1.189e+01 1.200e+02]
------------------------------

Merge two datasets for further analysis

In [26]:
df = pd.concat([df1,df2])
df.head()

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
0,1,Apr-18-2014,2 States,3,Romance,36,104,8576361,26622.0,2527.0,29149
1,2,Jan-4-2013,Table No. 21,4,Thriller,10,12,1087320,1129.0,137.0,1266
2,3,Jul-18-2014,Amit Sahni Ki List,4,Comedy,10,4,572336,586.0,54.0,640
3,4,Jan-4-2013,Rajdhani Express,4,Drama,7,383,42626,86.0,19.0,105
4,5,Jul-4-2014,Bobby Jasoos,4,Comedy,18,10.8,3113427,4512.0,1224.0,5736

**Get unique date format for both datasets**

In [27]:
df1.Release_Date.head()

0    Apr-18-2014
1     Jan-4-2013
2    Jul-18-2014
3     Jan-4-2013
4     Jul-4-2014
Name: Release_Date, dtype: object

In [28]:
df2.Release_Date.head()

0     4-Jul-14
1    22-Mar-13
2     4-Apr-14
3    22-Mar-13
4    29-Mar-13
Name: Release_Date, dtype: object

In [29]:
df1['Release_Date'] = pd.to_datetime(df1['Release_Date'], dayfirst=True, errors='coerce')
df1['Release_Date'] = df1['Release_Date'].dt.strftime("%d-%b-%y")

In [30]:
df1.Release_Date.head()

0    18-Apr-14
1    04-Jan-13
2    18-Jul-14
3    04-Jan-13
4    04-Jul-14
Name: Release_Date, dtype: object

#### **Thank you**