In [1]:
print("hello")

hello

In [2]:
from pyspark.sql import SparkSession

In [3]:
# May take a little while on a local computer
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
# We'll discuss how to read other options later.
# This dataset is from Spark's examples

# Might be a little slow locally
df = spark.read.json('students.json')

In [5]:
df

DataFrame[age: bigint, m1: bigint, m2: bigint, name: string]

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- m1: long (nullable = true)
 |-- m2: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.show()

+---+---+---+------+
|age| m1| m2|  name|
+---+---+---+------+
| 18| 45| 34|Pravin|
| 30| 15| 23| Pawar|
| 19| 45| 65|      |
+---+---+---+------+

In [8]:
df.columns

['age', 'm1', 'm2', 'name']

In [10]:
df.describe()

DataFrame[summary: string, age: string, m1: string, m2: string, name: string]

In [11]:
df['age']

Column<age>

In [12]:
df.select('age')

DataFrame[age: bigint]

In [13]:
df.select('age').show()

+---+
|age|
+---+
| 18|
| 30|
| 19|
+---+

In [14]:
# Returns list of Row objects
df.head(2)

[Row(age=18, m1=45, m2=34, name=u'Pravin'),
 Row(age=30, m1=15, m2=23, name=u'Pawar')]

In [15]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [16]:
df.select(['age','name']).show()

+---+------+
|age|  name|
+---+------+
| 18|Pravin|
| 30| Pawar|
| 19|      |
+---+------+

In [17]:
df.withColumn('newage',df['age']).show()

+---+---+---+------+------+
|age| m1| m2|  name|newage|
+---+---+---+------+------+
| 18| 45| 34|Pravin|    18|
| 30| 15| 23| Pawar|    30|
| 19| 45| 65|      |    19|
+---+---+---+------+------+

In [18]:
df.withColumnRenamed('age','supernewage').show()

+-----------+---+---+------+
|supernewage| m1| m2|  name|
+-----------+---+---+------+
|         18| 45| 34|Pravin|
|         30| 15| 23| Pawar|
|         19| 45| 65|      |
+-----------+---+---+------+

In [ ]:
df.filter("age<35").show()

In [ ]:
# Using SQL with .select()
df.filter("age<35").select('name').show()

In [ ]:
# Using SQL with .select()
df.filter("age<35").select(['age','name']).show()

In [ ]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [ ]:
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
df = spark.read.json('students.json', schema=final_struc)

In [ ]:
df.printSchema()

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("students")

In [ ]:
sql_results = spark.sql("SELECT * FROM students")

In [ ]:
sql_results

In [ ]:
sql_results.show()

In [ ]:
spark.sql("SELECT * FROM students WHERE age=30").show()